/* my stuff */
#gameTitle {
	font-family: 'Ranchers';
	font-size: 3.5em;
	text-align: center;
	background: orange;
	border-radius: 50%;
	padding: 16px 72px;
	display: block;
	position: fixed;
	margin-top: 30px;
	margin-left: 50%;
	transform: translate(-50%);
	transition: font-size 1s;
}
#app:not(.mainMenu) #gameTitle {
    font-size: 2em;
}

/*top left features*/
#top-left-features {
    position: fixed;
    top: 18px;
    right: 18px;
    z-index: 3;
}
#top-left-features > * {
    /*display: inline-block;*/
    margin: 5px;
}

#stateLog {
	background: #859bc3;
	background: rgba(28, 83, 183, 0.77);
	position: relative;
	padding: 5px;
	color: #dde7f7;
	font-size: 12px;
	right: 2px;
	top: 2px;
}

#userInfo {
	position: relative;
	padding: 5px;
	background: gray;
	width: 200px;
	height: 60px;
}
#userInfo img {
	height: 60px;
}
#userInfo span {
	width: calc(100% - 75px);
	height: calc(100% - 10px);
	position: absolute;
	right: 5px;
}
#userInfo h2 {
	font-family: 'Ranchers';
	line-height: 1;
	font-size: 1.1em;
	text-align: center;
	width: 100%;
	float: right;
	margin: 6px 0 0 0;
}
#userInfo button {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: orange;
	border: none;
	padding: 3px;
	font-family: Electrolize, roboto, arial;
}

.signedOut > h2 {
    letter-spacing: 2px;
    transition: all .35s;
}
.signedOut > div {
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
    text-align: center;
}
.loginOption {
    display: inline-block;
    font-size: 20px;
    padding: 0 2px;
}
.loginOption p {
    display: none;
}
.loginOption i {
    padding: 5px;
    background: orange;
    transition: all .35s .1s;
    transition-delay: 0s;
    cursor: pointer;
    position: relative;
}
.loginOption i:hover {
    background: #e09100;
    color: white;
    top: 3px;
}
#userInfo:hover .signedOut > h2 {
    letter-spacing: 13px;
}

/* http://tutorialzine.com/2014/07/css-inline-help-tips */
#help-tip {
	position: relative;
	float: right;
	text-align: center;
	background-color: #1f33af;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 21px;
	line-height: 40px;
	cursor: default;
	z-index: 2;
	font-family: Electrolize, roboto, sans-serif;
}
#help-tip:before {
	content: '?';
	font-weight: bold;
	color: #fff;
}
#help-tip:hover> al {
	max-height: calc(100vh - 180px);
	overflow-y: scroll;
	display: block;
	transform-origin: 100% 0%;
	animation: fadeIn 0.3s ease-in-out;
}
#help-tip> al {
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	font-family: sans-serif;
	line-height: 1.4;
}
#help-tip> al:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: #1E2021;
	right: 10px;
	top: -12px;
}
#help-tip> al:after {
	width: 100%;
	height: 40px;
	content: '';
	position: absolute;
	top: -40px;
	left: 0;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

/* my css styling */
#help-tip td {
	padding: 2px;
	/*were not robots*/
}
#help-tip tr:hover td:not([colspan]) {
	background: #5f0918;
	/*add a hovering effect*/
}
#help-tip td:first-child:not(:last-child) {
	color: #ff4a4a;
	font-size: 1.3em;
	font-family: monospace;
	letter-spacing: -.1ch;
	/*the first column (with the key strokes) should look different*/
}
#help-tip td:not(:first-child) {
	padding-left: 6px;
	/*add space between columns*/
}
#help-tip tr:not(:first-child) td[hint] {
	padding-top: 10px;
	/*add visual space between sets of rules*/
}
#help-tip td[hint] {
	color: #0b8e28;
	/*green version of the same color as a heading*/
	font-size: large;
	padding-left: 34px;
}
#help-tip bracket {
	font-family: sans-serif;
	/*try to reduce the wasted space*/
}
#help-tip code {
	background: gray;
	border-radius: 5px;
	padding: 3px;
	color: #8e262a;
	margin-left: 2px;
	margin-right: 2px;
}
#help-tip a {
	color: #6e6ec3;
}
#help-tip h1,
#help-tip h2,
#help-tip h3,
#help-tip h4,
#help-tip h5,
#help-tip h6 {
	color: #fd2f2f;
}
#help-tip b {
	/*color: #117711;*/
	color: #1ab71a;
}
#help-tip big {
	line-height: 1em;
}
#help-tip h2 .fa-fw {
    padding-right: 5px;
}

#mainMenuBtn {
	cursor: pointer;
	width: 207px;
	padding: 3px;
	left: 14px;
	z-index: 1;
}
#mainMenuBtn small {
	color: #3a1637;
	letter-spacing: -0.2px;
}

#winner {
	display: none;
	background: green;
	font-size: 10vw;
	font-family: 'Ranchers', cursive;
	padding: 2vw;
	z-index: 1;
	border-radius: 25px;
}

.fb-like {
	position: absolute;
	bottom: 2px;
	left: 2px;
	width: 96px;
	overflow: hidden;
}

#social-bar {
    --size: 43px;
    position: fixed;
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    width: var(--size);
    z-index: 1;
}
#social-bar * {
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    font-size: calc(var(--size) * .75 );
    text-align: center;
    color: black;
    display: block;
    text-decoration: none;
    transition: all .5s .05s;
    position: relative;
}
#social-bar a:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: 0;
	transition: all .5s .05s;
}
#social-bar a:hover:before {
	opacity: .45;
}
#social-bar i:hover {
	/*font-size: calc(var(--size) * .9);*/
    color: white;
}
#social-bar .instagram {
	background: #8a3ab9;
}
#social-bar .twitter {
	background: #00aced;
}
#social-bar .facebook {
	background: #3b5998;
}
#social-bar .google {
	background: #d34836;
}

/* scroll bar */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(255, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 0, 0, 0.4);
}
