/* -----------------
    server
------------------ */
/*fix this*/
/* **work */
#server canvas {
    border-width: 5px;
    /*display: none;*/
}
#server #canvasSize {
    display: inline;
}
#server #canvasSize input {
    width: 50px;
}
#server #control_buttons {
    position: fixed;
    width: 100%;
    background: rgba(12, 11, 107, 0.37);
    z-index: 1;
}