/* -----------------
    client
------------------ */
/*
#client canvas {
    background-color: #7E26F1;
}
*/
#client div.fb-like {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 96px;
    overflow: hidden;
}
#client[mode='chooserole'] canvas,
#client[mode='chooserole'] #mainMenuBtn {
    display: none;
}
#stateLog {
    background: #859bc3;
    background: rgba(28, 83, 183, 0.77);
    position: fixed;
    padding: 5px;
    color: #dde7f7;
    font-size: 12px;
    right: 2px;
    top: 2px;
}
body:not(.owner) #stateLog {
    display: none;
}
#winner {
	display: none;
    background: green;
    font-size: 10vw;
    font-family: 'Righteous', cursive;
    padding: 2vw;
}
/* button */
.myButton {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    border-radius: 18px;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 0.45em 2.6em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    margin-bottom: 8px;
}
.myButton:hover, .myButton:focus {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
}
.myButton:focus {
    border: 1px solid red;
}
.myButton:disabled {
	background: gray;
}

 /* cssarrowplease.com */
.arrow_box {
    position: relative;
    background: #ec0035;
    border-radius: 3px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.arrow_box:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 240, 0, 0);
    border-right-color: #ec0035;
    border-width: 12px;
    margin-top: -12px;
}